.services {
    padding: 100px 0;

    .serviceContainer {

        .serviceBox {
            padding: 10px;
            max-width: 300px;
            width: 100%;
            border: 1px solid #acacac;
            background-color: transparent;
            transition: 0.3s;

            .icon {
                font-size: 30px;
            }

            h4 {
                font-size: 20px;
            }

            &:hover {
                border: 0;
                background-color: #ffffff75;
            }
        }
    }
}