.services {

    .serviceContainer {

        .serviceBox {
            border-radius: 10px;
            padding: 10px;
            max-width: 500px;

            .icon {
                font-size: 30px;
            }

            h4 {
                font-size: 20px;
            }
        }
    }
}