.services {

    .serviceContainer {

        .serviceBox {
            border: 1px solid #CCC4C4;
            border-radius: 10px;
            padding: 10px;
            width: 300px;

            .icon {
                font-size: 30px;
            }

            h4 {
                font-size: 15px;
            }
        }
    }
}