.projects {

    .projectBox {

        .imgContainer {
            width: 400px;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        p {
            color: var(--gray-500);
            max-width: 300px;
        }
    }
}

@media(max-width:430px) {
    .projects {
        .projectBox {
            .imgContainer {
                width: 300px;
                
            }
        }
    }
}