.projects {

    .projectBox {

        .imgContainer {
            max-width: 400px;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        p {
            color: var(--gray-500);
            max-width: 300px;
        }
    }
}

@media(max-width:430px) {
    .projects {
        .projectBox {
            .imgContainer {
                width: 300px;
                
            }
        }
    }
}

@media(max-width:320px) {
    .projects {
        .projectBox {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .imgContainer {
                width: 250px;
            }

            .projectSubtitles {
                margin-left: 20px;

                p {
                    font-size: 12px;
                }
            }
        }
    }
}