* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif
}

:root {
    --red-500:#EF4444;

    --zinc-400:#A1A1AA;

    --gray-500:#6B7280;
    --gray-700:#334155;

    --swiper-pagination-color: #EF4444;
}

body {
    background-color: #eaeaec;
}

.swiper-pagination-bullet {
    background-color: var(--red-500);
    display: inline-block;
    width: 10px;
    height: 10px;
}

html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

body {
    transition: 0.3s;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    flex-wrap: wrap;
}

.dark-mode {
    background-color: #191910;
    color: #fff;

    a {
        color: #fff;
    }
    
    input::placeholder, textarea::placeholder {
        color: #fff;
    }

    .leaflet-container span {
        color:#000;
    }

    header {
        color: #fff;
        background-color: #202020;

        .ctnButton {
            color: #fff;
        }
    }

    .card {
        h4, p, .icon {
            color: #fff;
        }
    }
}

.swiper-button-next, .swiper-button-prev {
    color: #9ca3af;
}

.swiper-slide {
    width: auto!important;
    flex-shrink: 0!important;
    display: block!important;
    height: 100%!important;
    max-height: 100%!important;
    cursor: pointer!important;
}

.swiper-slide img {
    max-width: 150px!important;
    height: auto!important;
    object-fit: cover!important;
    margin-left: 20px!important;
}

@media(max-width:400px) {
    .swiper-slide img {
        max-width: 130px!important;
    }
    
}

.swiper-wrapper {
    max-width: 950px!important;
    width: 100%!important;
}

// .swiper-slide-active {
//     transform: scale(1.1); /* Aumente um pouco o slide ativo */
// }

// .swiper-slide-shadow-left, .swiper-slide-shadow-right {
//     display: none; /* Opcional: esconda as sombras laterais */
// }

.loading {
    background-color: #000;
    width: 100%;
    min-height: 100vh;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
    }
}

.subtitle {
    h6 {
        color: var(--gray-500);
    }
}

.scrollDontShow::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1080px) {
    html {
      font-size: 93.75%;
    }
  }

@media(max-width:750px) {
    html {
        font-size: 87.5%;
      }
}

@media(max-width: 480px) {
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
}