* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red-500:#EF4444;

    --gray-500:#6B7280;
    --gray-700:#334155;

    --swiper-pagination-color: #EF4444;
}

.swiper-pagination-bullet {
    background-color: var(--red-500);
    display: inline-block;
    width: 10px;
    height: 10px;
}

body {
    transition: 0.3s;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.wrap {
    flex-wrap: wrap;
}

.dark-mode {
    background-color: #000;
    color: #fff;

    input, textarea {
        color: #fff;
    }
}

.swiper-button-next, .swiper-button-prev {
    color: #9ca3af;
}

@media (max-width: 1080px) {
    html {
      font-size: 93.75%;
    }
  }

@media(max-width:750px) {
    html {
        font-size: 87.5%;
      }
}

@media(max-width: 430px) {
    .swiper-button-next, .swiper-button-prev {
        color: #9ca3af;
        margin-top: 20px;
        width: 30px;
        display: none;
    }
}