.skills {

    .skillsContainer {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(5, 1fr);

        .imgContainer {
            width: 40px;
            height: 40px;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }  
        }

        .skillBox {
            background-color: #141414;
            width: 100px;
            padding: 10px;
            border-radius: 10px;
            color: #fff;
            margin-bottom: 30px;
            transition: 0.3s;

            h6 {
                font-size: 15px;
            }

            &:hover {
                filter: brightness(0.8);
            }
        }

        .description {
            transition: 0.3s;
        }
    }
}

@media(max-width:500px) {
    .skills {
        .skillsContainer {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media(max-width:320px) {
    .skills {
        .skillsContainer {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}