.about {

    .imgContainer {
        max-width: 400px;
        width: 100%;
        height: 400px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .aboutInfo span {
        color: var(--gray-500);
    }

    .aboutInfo h6 {
        margin-bottom: 0;
    }
}

@media(max-width:991px) {
    .about{

        .aboutSubtitles {
            display: flex;
            justify-content: center;
             align-items: center;
        }
    }
}