.contact {
    .contactContainer {

        .icon {
            color: var(--red-500);
            font-size: 20px;
            flex-shrink: 0;
        }

        h6 {
            //color: var(--gray-500);
            font-size: 10px;
        }
    }

    form {

        .inputBox {

            input, textarea {
                border: 1px solid #CCC4C4;
                height: 50px;
                width: 100%;
                border-radius: 10px;
                padding: 10px;
                background: none;
                outline: none;
            }

            input::placeholder, textarea::placeholder {
                color: #636161;
            }

            textarea {
                resize: none;
                height: 150px;
            }
        }

        button {
            min-width: 200px;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            transition:0.3s;
            border: none;

            &:hover {
                filter: brightness(0.8);
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
        }
    }
}

@media(max-width:1200px) {
    .contactContainer {

        .icon {
            color: var(--red-500);
            font-size: 15px;
        }

        h5 {
            font-size: 14px;
        }
    }
}

@media(max-width:768px) {
    form {
        margin-bottom: 50px;
    }
}

@media(max-width:494px) {
    .contactContainer {

        .icon {
            color: var(--red-500);
            font-size: 8px!important;
        }

        h5 {
            font-size: 12px!important;
        }

        h6 {
            font-size: 10px!important;
        }
    }
}

@media(max-width:430px) {
    .contact {

        form {
            .inputBox {
                input[placeholder="Nome"] {
                    margin-bottom: 20px;
                }
            }
        }
    }
}