.header {
    padding: 20px;

    position: absolute;
    top: 0;
    left: 0;

    .Icon {
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: var(--red-500);
        }
    }
}