.navBar {
    .icon {
        color: #fff;
        font-size: 20px;
        position: fixed;
        right: 1rem;
        top: 2rem;
        cursor: pointer;
        transition: 0.3s;
        z-index: 1000;

        &:hover {
            color: var(--red-500);
        }
    }

    nav {
        a {
            text-decoration: none;
            font-size: 17px;
            transition: 0.3s;
            cursor: pointer;
    
            &:hover {
                color: var(--red-500);
            }
        }
    }
}

@media(max-width:991px) {
    .navBar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
        width: 100%;
        min-height: 100vh;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: #fff!important;
        }

        .nav {
            flex-direction: column;
        }
    }
}