.banner {
    background-image: url('../../assets/images/bannerImage.svg');
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .red {
        color: var(--red-500);
        overflow: hidden; 
        display: inline-block;
        white-space: nowrap;
    }

    .bannerIcons {
        a {
            font-size: 25px;
            color: #fff;
            transition: 0.3s;

            &:hover {
                color: var(--red-500);
            }
        }
    }

    .stageCubeCont {
        max-width: 300px;
        height: 300px;
        margin-top: 4rem;
        overflow: hidden;
        animation: fadeIn 2s forwards;
    }
    
    .cubespinner {
        animation-name: spincube;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 12s;
        transform-style: preserve-3d;
        transform-origin: 100px 100px 0;
    
        div {
            position: absolute;
            width: 200px;
            height: 200px;
            border: 1px solid #ccc;
            background-color: rgba(255, 255, 255, 0.08);
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 20px 0px #fca5a5;
            z-index: 1000;
        }
    
        .face1 {
            color: #DD0031;
            transform: translateZ(100px);
        }
    
        .face2 {
            color: #F06529;
            transform: rotateY(90deg) translateZ(100px);
        }
    
        .face3 {
            color: #28A4D9;
            transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
        }
    
        .face4 {
            color: #5ED4F4;
            transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
        }
    
        .face5 {
            color: #EFD81D;
            transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
        }
    
        .face6 {
            color: #EC4;
            transform: rotateX(-90deg) translateZ(100px);
        }
    }
    
    
    @keyframes spincube {
        from,
        to{
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
        16% {
            transform: rotateY(-90deg);
        }
        33% {
            transform: rotateY(-90deg) rotateZ(90deg);
        }
        50% {
            transform: rotateY(-180deg) rotateZ(90deg);
        }
        66% {
            transform: rotateY(-270deg) rotateZ(90deg);
        }
        83% {
            transform: rotateY(90deg);
        }
    
    }  
}

@media(max-width: 991px) {
    .banner {
        h2, a .icon {
            font-size: 19px;
            margin: auto;
        }

        .cubespinner { margin-left: 30px; }

        .bannerSubtitles {
            margin: auto;
        }
        .imgContainer {
            width: 200px;
            height: 200px;
        }

        button {
            width: 180px;
            font-size: 12px;
        }
    }
}

@media(max-width: 767px) {
    .banner {
        .bannerContent {
            margin-top: 70px!important;
        }

    }
}